@model RestaurantAutomationSystem.ViewModel.ItemInfoViewModel
@{
    ViewBag.Title = "CreateItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add an Item</h2>

@using (Html.BeginForm("CreateItem", "MenuItem"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.FoodID)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Price)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Type)
        @Html.DropDownListFor(m => m.Type, new SelectList(Model.Types, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Type)
    </div>
    <button type="submit" class="btn btn-primary">Add</button>

    @section scripts
    { 
        @Scripts.Render("~/bundles/jqueryval")
    }
}
